* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.column {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
    border-color: #80bdff;
    outline: none;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#statusMessage {
    margin-top: 10px;
    text-align: center;
    color: #dc3545; /* Bootstrap danger color */
}
 /* Overlay styles */
 #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 1000; /* Ensure it sits above other elements */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack items vertically */
}

/* Spinner styles */
#spinner {
    display: none;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-top: 10px; /* Space between text and spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Sending text styles */
#sendingText {
    font-size: 18px;
    color: #3498db; /* Blue color */
    margin-bottom: 10px; /* Space between text and spinner */
}