# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
temp/
tmp/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
coverage/
*.tgz

# package
package-lock.json